# Ignore large datasets
adult.csv
*.csv
*.xlsx
# Jupyter checkpoints
.ipynb_checkpoints/
# Python cache
__pycache__/
*.pyc
# Large files
*.xlsx
# Outputs (generated)
food_waste_cleaned.csv
# Large files
*.csv
*.xlsx
# Outputs (generated)
house_data_cleaned.csv
*.csv
heart_data_cleaned.csv

*.xlsx
*.csv
rfm_data.csv