# Ignore large datasets
adult.csv
*.csv
*.xlsx
# Jupyter checkpoints
.ipynb_checkpoints/
# Python cache
__pycache__/
*.pyc
# Large files
*.xlsx
# Outputs (generated)
food_waste_cleaned.csv
interactive_scatter.html
# Large files
*.csv
*.xlsx
# Outputs (generated)
house_data_cleaned.csv
interactive_predictions.html
*.csv
interactive_roc.html
heart_data_cleaned.csv

*.xlsx
*.csv
interactive_3d_clusters.html
rfm_data.csv